@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

header {
    height: 90px;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.2s ease;
}

header .container .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.sticky {
    background-color: black;
}

.navbar .nav-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}

.nav-title span {
    color: orange;
}

.navbar .nav-links {
    display: flex;
    position: relative;
    column-gap: 30px;
}

.nav-links li {
    display: block;
    position: relative;
}

.navbar .nav-links a {
    color: #868686;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.navbar .nav-links a.active {
    color: #fff;
}

.navbar .nav-links a::before {
    content: "";
    height: 2px;
    width: 0%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 30px;
    opacity: 0;
    background-color: orange;
    transition: all 0.6s ease;
}

.nav-links a.active::before {
    opacity: 1;
    width: 100%;
}

.nav-links a:hover {
    color: #fff;
}

.nav-links a:hover::before {
    opacity: 1;
    width: 100%;
}

.navbar :is(.menu-btn, .nav-links .cancel-btn) {
    display: none;
    color: #fff;
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
    font-size: 20px;
}


/* Home Section */

.home {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url("img/hero-carousel/hero-carousel-4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home::before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.home .home-content {
    width: 550px;
    height: auto;
    color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content .home-title {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}

.divider {
    margin: 15px;
    width: 80px;
    height: 4px;
    background-color: orange;
}

.home-content p {
    margin: 10px 0;
    font-weight: 500;
    text-align: center;
    color: #b1afaf;
    font-size: 1rem;
}

.home-content p::first-letter {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.home-content button {
    margin-top: 15px;
    height: 50px;
    width: 180px;
    outline: none;
    border-radius: 80px;
    border: 2px solid orange;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* About Section */

section {
    padding: 40px 0;
}

.about {
    background-color: #F5F6F7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about .about-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.about-content .about-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.about-description h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #545860;
}

.about-description .divider {
    transform: translateX(-15px);
}

.about-description p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #6B7C85;
}

.about-content .quote-form {
    width: 40%;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 25px;
}

.quote-form .quote-title {
    font-size: 0.9rem;
    font-weight: 600;
}

.quote-form p {
    font-size: 0.9rem;
    margin: 10px 0;
    font-weight: 400;
    color: #545860;
    margin-bottom: 15px;
}

.quote-form :is(input, textarea) {
    outline: none;
    width: 100%;
    border: 1.5px solid #CED4DA;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.quote-form input {
    height: 50px;
}

.quote-form textarea {
    height: 150px;
}

.quote-form .btn {
    display: flex;
    justify-content: center;
}

.quote-form .quote-button {
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: orange;
    color: #fff;
    align-self: center;
}

.main {
    margin: 30px 0;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .main-title {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}

.main .main-title::before,
.main .main-title::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 60px;
    background-color: orange;
}

.main-title::before {
    left: -70px;
}

.main-title::after {
    right: -70px;
}

.main .main-p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 50px;
    color: #545860;
}

/* Construction Section */

.construction .construction-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.construction-items .construction-item {
    /* height: 300px; */
    border: 1px solid #CED4DA;;
    width: calc(100% / 2 - 25px);
    display: flex;
}

.construction-item img {
    width: 40%;
    height: 300px;
    object-fit: cover;
}

.construction-item .construction-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 30px 20px 30px 30px;
}

.construction-content p{
    margin-top: 8px;
    font-size: 1rem;
    color: #545860;
}

/* MediaQuery */

@media screen and (max-width: 1200px) {
    .navbar {
        margin: 0 30px;
    }

    .navbar .nav-links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 0;
        right: -100%;
        color: #fff;
        flex-direction: column;
        row-gap: 20px;
        align-items: start;
        z-index: 1;
        padding: 80px 20px 20px;
        transition: all 0.5s ease;
    }

    .navbar.active .nav-links {
        right: 0;
    }

    .navbar .nav-links a::before {
        opacity: 0;
    }

    .navbar :is(.menu-btn, .nav-links .cancel-btn) {
        display: block;
    }

    .about .about-content {
        margin: 0 30px;
    }

    .main {
        width: 80%;
    }

    .construction .construction-items {
        margin: 0 30px;
    }

    .construction-items .construction-item {
        flex-direction: column;
    }

    .construction-item img {
        width: 100%;
    }

}

@media screen and (max-width: 760px) {
    .home .home-content {
        width: 480px;
        margin: 0 30px;
    }

    .home .home-content .home-title {
        font-size: 1.8rem;
    }

    .about .about-content {
        flex-direction: column;
        row-gap: 25px;
    }

    .about-content :is(.about-description, .quote-form) {
        width: 100%;
    }

    .about-content .about-description {
        row-gap: 10px;
    }

    .construction-items .construction-item {
        width: 100%;
    }
}